@charset "utf-8";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2f3035;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

.header {
  &__top {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 122px;
      font-family: "SFProDisplay-Bold", sans-serif;
      font-weight: 700;
    }
  }
  &__box {
    display: flex;
  }
  &__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      background-image: url("../images/location-icon.svg");
      width: 30px;
      height: 30px;
    }
  }
  &__bottom {
    margin-bottom: 80px;
  }
}

.menu {
  &__btn {
    display: none;
  }
  &__item {
    display: inline-block;
    & + & {
      padding-left: 50px;
    }
  }
  &-categories {
    background-color: #f0f0f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    &__item {
      position: relative;
    }
    &__link {
      font-weight: 400;
      transition: all 0.3s;
      padding: 15px 0 14px;
      position: relative;
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
      &:hover {
        // font-family: "SFProDisplay-Semibold", sans-serif;
        // `position: absolute` в &__link, чтобы текст не двигался при анимации в `font-weight: 600`
        // font-weight: 600;
        &:before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 0;
        left: auto;
        right: 0;
        background-color: #1c62cd;
        height: 3px;
        bottom: -2px;
        transition: all 0.3s;
      }
    }
  }
  &-mobile {
    &__list {
      width: 243px;
      transform: translateX(-100%);
      transition: all 0.3s;
      position: absolute;
      background-color: #fff;
      &--active {
        transform: translateX(0);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        z-index: 1;
      }
    }
    &__item {
      position: relative;
    }
    &__link {
      display: block;
      padding-left: 53px;
      padding-top: 36px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__img {
      position: absolute;
      left: 11px;
      bottom: 0;
    }
    &__text {
      display: block;
    }
    &__line-wrapper {
      display: none;
    }
  }
}

.user {
  &-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.cart {
  position: relative;
  &-num {
    position: absolute;
    bottom: -3px;
    right: -14px;
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #1c62cd;
    border-radius: 50%;
  }
}

.banner {
  &-section {
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__slider {
      max-width: 870px;
      // &-btn см. в main.js
      &-btn {
        // .slick-slider имеет position: relative
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        // чтобы стрелка btnprev не была под картинкой слайдера
        z-index: 5;
        cursor: pointer;
        outline: none;
        &prev {
          left: 20px;
        }
        &next {
          right: 20px;
        }
      }
      &-img {
        object-fit: cover;
        min-height: 400px;
      }
    }
  }
}

.slick {
  &-dots {
    // см. стр. 162. position: absolute отн. .slick-slider
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 5px;
      button {
        padding: 0;
        margin: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  &-dots {
    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }
  &-list {
    // margin: 0 -15px;
  }
  &-slide {
    // margin: 0 15px;
  }
}

.sale {
  &-item {
    width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__special {
      color: #fff;
      background-color: #1c62cd;
      padding: 8px 20px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
    }
    &__price {
      text-align: right;
      &-new {
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        color: #1c62cd;
        margin-right: 6px;
        padding-right: 20px;
        &:after {
          content: "";
          background-image: url("../images/rub-icon-blue.svg");
          position: absolute;
          top: 8px;
          right: 0;
          width: 15px;
          height: 18px;
        }
      }
      &-old {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #c4c4c4;
        margin-right: 15px;
        padding: 2px 5px;
        background: url("../images/cross-line.svg") no-repeat;
        &:after {
          content: "";
          background-image: url("../images/rub-icon-grey.svg");
          position: absolute;
          top: 7px;
          right: -10px;
          width: 8px;
          height: 10px;
        }
      }
    }
    &__img {
      object-fit: contain;
    }
    &__title {
      font-family: "SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin: 0 auto 7px;
      max-width: 200px;
    }
    &__footer {
      background-color: #f0f0f4;
      padding: 25px 20px;
      font-size: 18px;
      line-height: 21px;
      font-family: "SFProDisplay-Regular", sans-serif;
      font-weight: 400;
    }
    &__exp-date {
      display: block;
      color: #1c62cd;
      font-family: "Barlow", sans-serif;
      font-weight: 700;
    }
  }
}

.price {
  font-family: "Barlow", sans-serif;
  position: relative;
}

.tabs-content {
  display: none;
  // см. main.js:27
  &--active {
    display: block;
  }
}

.search {
  &__tabs {
    margin-bottom: 25px;
    &-item {
      padding: 11px 26px 12px;
      font-family: "SFProDisplay-Regular", sans-serif;
      &.tab--active {
        border-radius: 5px;
        background-color: #f0f0f4;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
      }
    }
  }
  &__content {
    &-item {
      // display: none;
      /* &.tabs-content--active {
        display: block;
      } */
    }
    &-form {
      display: flex;
    }
    &-input {
      background-color: #f0f0f4;
      border-radius: 3px;
      padding: 5px 20px;
      border: none;
      font-size: 16px;
      line-height: 19px;
      width: 100%;
      &::placeholder {
        color: #656464;
      }
    }
    &-btn {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #fff;
      font-family: "SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      background-color: #1c62cd;
      border: none;
      border-radius: 3px;
      padding: 17px 40px;
      margin-left: -3px;
    }
  }
}

.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    padding: 20px 20px 16px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-size: 23px;
      line-height: 28px;
      font-family: "Barlow", "SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      transition: all 0.3s;
    }

    &-text {
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;

      &:after {
        content: url("../images/arrowhead-right.svg");
        padding-left: 2px;
      }
    }

    &-img {
      width: 50%;
      text-align: center;

      & img {
        max-width: 100%;
      }
    }

    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);

      .categories__item-title {
        color: #1c62cd;
      }
    }
  }
}

.products {
  margin-bottom: 80px;
  &__tabs {
    margin-bottom: 25px;
  }
  &__tab {
    margin-bottom: 12px;
    & + & {
      margin-left: 50px;
    }
    &.tab--active {
      border-bottom: 2px solid #1c62cd;
      padding-bottom: 10px;
    }
  }
}

.product {
  &-title {
    font-family: "Barlow", "SFProDisplay-Bold", sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #2f3035;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &-slider {
    &__slider-btn {
      // .slick-slider имеет `position: relative`
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      // чтобы стрелка btnprev не была под картинкой слайдера
      z-index: 5;
      cursor: pointer;
      outline: none;
      &.product-slider__slider-btn {
        &prev {
          left: -40px;
        }
        &next {
          right: -40px;
        }
      }
    }
    .slick-dots {
      bottom: -30px;
      button {
        background-color: #c4c4c4;
        border: 1px solid #c4c4c4;
      }
      .slick-active {
        button {
          background-color: #1c62cd;
          border: 1px solid #1c62cd;
        }
      }
    }
  }
  &-item {
    min-height: 400px;
    width: 100%;
    text-align: center;
    padding: 52px 20px 31px;
    // transition: all 0.3s;
    &__wrapper {
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      transition: all 0.3s;
      &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      }
      position: relative;
      width: 271px;
      margin: 0 auto;
      // font-family: "SFProDisplay-Regular", sans-serif;
      &.product-item__not-available {
        .product-item__price {
          display: none;
        }
        .product-item__cart {
          display: none;
        }
        .product-item__hover-text {
          display: none;
        }
        .product-item__title {
          color: #2f3035;
        }
        .product-item__notify-text {
          display: block;
          color: #2f3035;
          line-height: 36px;
          margin-bottom: 12px;
        }
        .product-item__notify-link {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
          font-size: 16px;
          line-height: 19px;
          color: #1c62cd;
          text-align: center;
          span {
            border-bottom: 1px solid #1c62cd;
          }
        }
      }
      /* &.product-item__wrapper--list {
        width: 100%;
      } */
    }
    &__fav {
      position: absolute;
      top: 16px;
      right: 19px;
      width: 24px;
      height: 22px;
      background-color: transparent;
      border: none;
      z-index: 5;
      outline: none;
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 22px;
        top: 0;
        left: 0;
        background-image: url("../images/fav-icon.svg");
      }
      &--active {
        &:before {
          background-image: url("../images/fav-active-icon.svg");
        }
      }
    }
    &__cart {
      position: absolute;
      width: 60px;
      height: 40px;
      background-color: #1c62cd;
      border-radius: 10px 0 3px 0;
      bottom: 0;
      right: 0;
      border: none;
      &:before {
        content: "";
        background: url("../images/cart-icon-white.svg") no-repeat;
        width: 30px;
        height: 23px;
        position: absolute;
        top: 10px;
        left: 16px;
      }
    }
    &__hover-text {
      padding: 18px 21px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      display: inline-block;
      position: absolute;
      // left: 50%;
      transform: translateX(-50%);
      width: 230px;
      top: 30%;
      opacity: 0;
      transition: all 0.3s;
    }
    &__title {
      font-weight: 400;
      padding: 14px 0 25px;
      min-height: 115px;
      font-size: 18px;
      line-height: 21px;
      color: #2f3035;
    }
    &__price {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 12px;
    }
    &:hover {
      color: #1c62cd;
      // box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      .product-item__hover-text {
        opacity: 1;
        color: #2f3035;
      }
    }
    &__notify-link {
      display: none;
    }
    &--sale {
      &:before {
        content: "Sale";
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        padding: 8px 15px;
        background-color: #1c62cd;
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 3px;
      }
    }
    &__notify-text {
      display: none;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
    }
    &__img {
      display: block;
      // width: 100%;
      margin: 0 auto;
      max-height: 200px;
      max-width: 175px;
    }
  }
  &-more {
    text-align: center;
    margin: 35px 0 0;
    &__link {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 16px 43px;
      background-color: #f0f0f4;
    }
  }
}

.banner {
  margin-bottom: 80px;
}

.footer {
  background-color: #f0f0f4;
  &__top {
    padding-top: 43px;
    &-inner {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      width: 200px;
    }
    &-newsletter {
      width: 295px;
      margin-right: 50px;
    }
    &-title {
      font-size: 14px;
      line-height: 17px;
      color: #2f3035;
    }
    &-social {
      width: 250px;
    }
  }
  &-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    &__input {
      background-color: #fff;
      border: none;
      font-size: 14px;
      line-height: 17px;
      padding: 0 12px;
      width: 100%;
      &::placeholder {
        color: #c4c4c4;
      }
    }
    &__btn {
      font-family: "SFProDisplay-Semibold", sans-serif;
      text-transform: uppercase;
      padding: 10px 16px;
      border: none;
      background-color: #1c62cd;
      color: #fff;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.12em;
    }
  }
  &-list {
    font-size: 14px;
    line-height: 22px;
  }
  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
    &-link {
      font-size: 10px;
      line-height: 12px;
      color: #48494d;
      margin: 0 40px;
    }
  }
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
  &__item {
    & + & {
      margin-left: 30px;
    }
  }
}

.breadcrumbs {
  margin-bottom: 40px;
  &__list {
    &-item {
      display: inline-block;
      padding-right: 16px;
      margin-right: 10px;
      position: relative;
      font-size: 15px;
      line-height: 18px;
      color: #c4c4c4;
      &:after {
        width: 6px;
        height: 9px;
        content: "";
        position: absolute;
        right: 0;
        bottom: 4px;
        background-image: url("../images/arrowhead-right.svg");
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}

.catalogue {
  margin-bottom: 100px;
  &__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
    margin-bottom: 26px;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &-tag {
      font-size: 14px;
      line-height: 17px;
      color: #2f3035;
      opacity: 0.7;
      border-radius: 3px;
      border: none;
      padding: 5px 22px;
      cursor: pointer;
      & + & {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      .jq-selectbox {
        &.focused {
          .jq-selectbox__select {
            border: 1px solid #d7d9df;
          }
        }
      }
    }
    &-select {
      border: 1px solid #d7d9df;
      font-size: 14px;
      line-height: 17px;
      color: #2f3035;
      margin-right: 34px;
      // padding: 7px 10px 7px 20px;
      .jq-selectbox__select {
        background: transparent;
        box-shadow: none;
        font-family: "SFProDisplay-Regular", sans-serif;
        font-size: 14px;
        line-height: 17px;
        border: 1px solid #d7d9df;
        border-radius: 0;
        padding: 8px 46px 8px 20px;
        .jq-selectbox__trigger {
          border-left: none;
          background: url("../images/arrow-down.svg") no-repeat;
          width: 12px;
          height: 8px;
          // .jq-selectbox__select, парент .jq-selectbox__trigger, имеет position: relative из jquery.formstyler.css
          top: 13px;
          bottom: 5px;
          right: 9px;
          &-arrow {
            display: none;
          }
        }
      }
      .jq-selectbox__dropdown {
        box-shadow: none;
        border: 1px solid #d7d9df;
        border-radius: 0;
        .catalogue__filter-option {
          color: #2f3035;
          &.selected,
          &:hover {
            background-color: rgba(107, 126, 172, 0.05);
          }
        }
      }
    }
    &-option {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    // 10 -> 19:31
    &-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      opacity: 0.3;
      &--active {
        opacity: 1;
      }
      & + & {
        margin-left: 10px;
      }
      &-grid {
        width: 26px;
        height: 21px;
      }
      &-line {
        width: 25px;
        height: 19px;
      }
    }
  }
  &__inner {
    display: flex;
    .aside__btn {
      display: none;
    }
    &-aside {
      min-width: 290px;
      margin-right: 10px;
      .aside-filter {
        &__tabs {
          display: flex;
          justify-content: space-between;
        }
        &__tab {
          width: 50%;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          color: #c4c4c4;
          &.tab--active {
            color: #2f3035;
            font-weight: 600;
            .aside-filter__tabname {
              display: inline-block;
              padding-bottom: 7px;
              border-bottom: 2px solid #1c62cd;
            }
          }
        }
        &__item-drop {
          margin: 40px 0;
          &.btn-checked {
            .aside-filter {
              &__content {
                flex-wrap: nowrap;
                justify-content: space-between;
                &-box {
                  width: 63px;
                }
                &-label {
                  position: relative;
                  // height: 25px;
                  // width: 63px;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.07em;
                  color: #c4c4c4;
                  .jq-checkbox {
                    height: 25px;
                    width: 63px;
                    background-color: #f0f0f4;
                    border: none;
                    border-radius: 0;
                    &.checked {
                      background-color: #1c62cd;
                      color: #fff;
                      .jq-checkbox__div {
                        display: none;
                      }
                      & ~ .aside-filter__content-special {
                        color: #fff;
                      }
                    }
                  }
                }
                &-special {
                  position: absolute;
                  top: -6px;
                  left: 50%;
                  transform: translateX(-50%);
                  text-transform: uppercase;
                }
              }
            }
          }
          .filter-more {
            width: 100%;
            &__btn {
              padding: 0;
              font-size: 14px;
              line-height: 17px;
              color: #1c62cd;
              border: none;
              border-bottom: 1px solid #1c62cd;
              background-color: transparent;
              cursor: pointer;
            }
          }
          .filter {
            &-btn {
              &__send {
                background: #f0f0f4;
                padding: 16px 85px;
                text-transform: uppercase;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.12em;
                color: #bdbec2;
                border: none;
                cursor: pointer;
                margin-bottom: 15px;
                &--active {
                  background-color: #1c62cd;
                  color: #fff;
                }
              }
            }
          }
        }
        &__item-placeholder {
          display: block;
        }
        &__item-title {
          font-family: "SFProDisplay-Semibold", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          padding-left: 26px;
          &.filter__item-drop {
            // margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 5px;
              width: 12px;
              height: 8px;
              background-image: url("../images/arrow-down.svg");
            }
            &.filter__item-drop--active {
              &:before {
                transform: rotate(180deg);
              }
            }
          }
        }
        &__content {
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;
          .filter-search {
            width: 100%;
            height: 30px;
            border: 1px solid #e0e0e0;
            padding: 0 20px;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 6px;
            &::placeholder {
              color: #bdbec2;
            }
          }
          &--hidden {
            display: none;
          }
          &-radio {
            flex-wrap: nowrap;
          }
          &-box {
            width: 50%;
            margin-bottom: 10px;
          }
          &-label {
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
            .jq-checkbox,
            .jq-radio {
              background: #fff;
              width: 14px;
              height: 14px;
              border: 1px solid #c4c4c4;
              box-shadow: none;
              vertical-align: -2px;
              border-radius: 0;
              &.checked {
                background-color: #1c62cd;
                border: none;
                .jq-checkbox__div,
                .jq-radio__div {
                  width: 8px;
                  height: 6px;
                  border-bottom: none;
                  border-left: none;
                  transform: rotate(0);
                  background: transparent url("../images/checkmark.svg");
                  box-shadow: none;
                }
              }
            }
          }
          .irs--flat {
            width: 100%;
            margin-top: -15px;
          }
          .irs-from,
          .irs-to,
          .irs-single {
            display: none;
          }
          .irs-min,
          .irs-max {
            top: 60px;
            padding: 0;
            font-family: "Barlow", sans-serif;
            font-size: 14px;
            line-height: 17px;
            text-decoration: underline;
            color: #2f3035;
            background-color: transparent;
            visibility: visible !important;
            padding-left: 27px;
            &:before {
              position: absolute;
              left: 0;
              font-family: "SFProDisplay-Regular", sans-serif;
              color: #c4c4c4;
              text-decoration: none;
            }
          }
          .irs-min {
            &:before {
              content: "от";
            }
          }
          .irs-max {
            &:before {
              content: "до";
            }
          }
          .irs-line {
            height: 1px;
            background-color: #e0e0e0;
            border-radius: 0;
          }
          .irs-bar {
            height: 3px;
            background-color: #1c62cd;
            top: 24px;
          }
          .irs-handle {
            width: 8px;
            height: 8px;
            background-color: #1c62cd;
            border-radius: 50%;
            cursor: pointer;
            i {
              display: none;
            }
          }
        }
        &__item-list {
          margin: 46px 0 40px;
          .filter__item-list {
            padding-top: 34px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #c4c4c4;
            &-title {
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              color: #2f3035;
              margin-bottom: 14px;
              padding-left: 26px;
            }
            &-select {
              .jq-selectbox {
                &__select {
                  font-family: "Barlow", "SFProDisplay-Regular", sans-serif;
                  font-size: 14px;
                  line-height: 17px;
                  color: #48494d;
                  height: 32px;
                  padding: 0 30px 0 10px;
                  border: none;
                  border-radius: 0;
                  background: transparent;
                  box-shadow: none;
                  text-shadow: none;
                  &:hover {
                    // background-color: transparent;
                  }
                  .jq-selectbox__trigger {
                    border-left: none;
                    background: url("../images/arrow-down.svg") no-repeat;
                    top: 6px;
                    bottom: 5px;
                    right: 9px;
                    width: 12px;
                    height: 8px;
                    &-arrow {
                      border: none;
                    }
                  }
                  .filter__item-list-option:hover {
                    background-color: transparent;
                  }
                }
                &.focused {
                  .jq-selectbox__select {
                    border: none;
                  }
                }
                &__dropdown {
                  border: 1px solid #E0E0E0;
                  border-radius: 0;
                  box-shadow: none;
                }
                &:hover {
                  background-color: transparent;
                }
              }
              .filter__item-list-option {
                font-family: "Barlow", "SFProDisplay-Regular", sans-serif;
                font-size: 14px;
                height: 25px;
                line-height: 100%;
                color: #48494d;
                &.selected {
                  background-color: rgba(107, 126, 172, 0.05);
                }
                &.dropup {
                  background-color: transparent;
                  &:hover {
                    background: transparent;
                  }
                }
                &:hover {
                  background-color: rgba(107, 126, 172, 0.05);
                }
              }
            }
          }
        }
        &__item-btn {
          text-align: center;
          .filter__extra {
            font-size: 13px;
            line-height: 16px;
            color: #2f3035;
            position: relative;
            padding-right: 29px;
            display: inline-block;
            &:after {
              width: 12px;
              height: 8px;
              position: absolute;
              content: "";
              right: 0;
              top: 5px;
              background-image: url("../images/arrow-down.svg");
            }
            &-content {
              display: none;
            }
            // see main.js:51. Adds class .filter__item-drop--active on click
            &.filter__item-drop--active {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          .filter-btn__reset {
            background-color: transparent;
            padding: 0;
            border: none;
            font-size: 13px;
            line-height: 16px;
            border-bottom: 1px solid #c4c4c4;
            color: #c4c4c4;
          }
        }
      }
    }
    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .product-item {
        &__wrapper {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.pagination {
  width: 100%;
  margin-top: 70px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  &-list {
    display: flex;
    justify-content: center;
    &__item {
      margin: 0 11px;
      font-size: 18px;
      line-height: 22px;
      color: #c4c4c4;
      &--active {
        border: 2px solid #1c62cd;
        color: #1c62cd;
      }
    }
    &__link {
      display: block;
      padding: 9px 15px;
    }
  }
}

.product-card {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img-box {
    width: 500px;
    padding-top: 64px;
    text-align: center;
    font-family: "Barlow", sans-serif;
    position: relative;
    &:before {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      padding: 13px 25px;
      border-radius: 3px;
    }
  }
  &__price {
    &-old {
      color: #2f3035;
      display: inline-block;
      font-size: 30px;
      line-height: 36px;
      opacity: 0.6;
      margin-bottom: 12px;
      background: center / cover no-repeat url("../images/cross-line.svg");
    }
    &-new {
      color: #2f3035;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 19px;
    }
  }
  &__link {
    font-size: 15px;
    line-height: 18px;
    color: #1c62cd;
  }
  &__content {
    width: 570px;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
    margin-bottom: 10px;
  }
  &__code {
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 22px;
  }
  &__buttons {
    margin-bottom: 50px;
    .product-card {
      &__icon {
        &-compare {
          margin-left: 25px;
        }
      }
      &__rate {
        margin-left: 25px;
      }
    }
  }
  &__tab {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;
    & + & {
      padding-left: 17px;
    }
  }
  .tab--active {
    font-weight: 700;
    opacity: 1;
    border-bottom: 2px solid #1c62cd;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    &-left {
      padding-right: 15px;
    }
    &-right {
      width: 125px;
    }
  }
  &__more {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #1c62cd;
    border-bottom: 1px solid #1c62cd;
  }
  &__btn {
    width: 177px;
    height: 50px;
    background-color: #1c62cd;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
  }
}

.card__tabs {
  margin-bottom: 100px;
  .card__tab {
    border-bottom: 2px solid transparent;
    &-box {
      background-color: #f0f0f4;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 22px 0;
      margin-bottom: 50px;
    }
    &.tab--active {
      border-bottom: 2px solid #1c62cd;
    }
  }
  .card {
    &__top {
      &-line {
        margin-bottom: 10px;
      }
    }
    &__label {
      &-search {
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53, 0.7);
        margin-right: 100px;
      }
      &-pickup {
        margin-left: 54px;
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53, 0.7);
        &:hover {
          cursor: pointer;
        }
        .jq-radio {
          background: #fff;
          width: 14px;
          height: 14px;
          border: 1px solid #c4c4c4;
          box-shadow: none;
          vertical-align: -1px;
          margin-right: 15px;
          border-radius: 0;
          &.checked {
            background-color: transparent;
            border: 2px solid #1c62cd;
            .jq-radio__div {
              width: 7px;
              height: 7px;
              background-color: #1c62cd;
              border-radius: 0;
              box-shadow: none;
              // .jq-radio имеет `position: relative`
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              margin: 0;
            }
          }
          .jq-radio__div {
            width: 0;
            height: 0;
            background: transparent;
          }
        }
      }
    }
    &__input {
      &-search {
        background-color: #f0f0f4;
        border-radius: 3px;
        margin-left: 17px;
        padding: 9px 37px 9px 17px;
        border: none;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-image: url("../images/search-icon.svg");
        }
      }
    }
  }
  .card__list {
    &-item {
      padding: 20px 0;
      border-bottom: 1px solid rgba(47, 48, 53, 0.1);
      display: flex;
      font-size: 16px;
      line-height: 22px;
      color: rgba(47, 48, 53, 0.7);
      &-title {
        color: rgba(47, 48, 53, 1);
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-address {
      width: 220px;
      margin-right: 80px;
    }
    &-workhours {
      width: 157px;
      margin-right: 96px;
      &-item {
        display: flex;
        justify-content: space-between;
      }
    }
    &-available {
      width: 140px;
      margin-right: 60px;
    }
    &-number {
      width: 104px;
    }
    &-btn {
      &-wrapper {
        margin: auto 0 auto auto;
      }
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.12em;
      color: #fff;
      text-transform: uppercase;
      padding: 9px 40px;
      background-color: #1c62cd;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
